name: todo-micro-infra-workflow
on:
  workflow_dispatch:

jobs:
  Plan-infra:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Initialize Terraform
        run: terraform init
        working-directory: ./Infra

      - name: Validate Terraform configuration
        run: terraform validate
        working-directory: ./Infra

      - name: Plan Terraform deployment
        run: terraform plan
        working-directory: ./Infra
  Apply-infra:
    environment: Manual-Validation
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Initialize Terraform
        run: terraform init
        working-directory: ./Infra

      - name: Apply Terraform deployment
        if: github.ref == 'refs/heads/main'
        run: terraform apply --auto-approve
        working-directory: ./Infra
