name: todo-micro-infra-workflow
on:
  workflow_dispatch:

jobs:
  deploy-infra:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      # - name: Set up Terraform
      #   uses: hashicorp/setup-terraform@v2
      #   with:
      #     terraform_version: 1.5.6

      # - name: Initialize Terraform
      #   run: terraform init ./infra

      # - name: Validate Terraform configuration
      #   run: terraform validate ./infra

      # - name: Plan Terraform deployment
      #   run: terraform plan -out=tfplan ./infra

      # - name: Apply Terraform deployment
      #   if: github.ref == 'refs/heads/main'
      #   run: terraform apply --auto-approve tfplan ./infra
