name: todo-micro-infra-workflow
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  id-token: write
  contents: read
jobs:
  Plan-infra:
    environment: secrets
    runs-on: ubuntu-latest
    env:
      ARM_USE_OIDC: true
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
    steps:
      - name: Azure login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
        
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Initialize Terraform
        run: terraform init
        working-directory: ./Infra

      - name: Validate Terraform configuration
        run: terraform validate
        working-directory: ./Infra

      - name: Plan Terraform deployment
        run: terraform plan
        working-directory: ./Infra
  Apply-infra:
    environment: Manual-Validation
    needs: Plan-infra
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.6

      - name: Initialize Terraform
        run: terraform init
        working-directory: ./Infra

      - name: Apply Terraform deployment
        if: github.ref == 'refs/heads/main'
        run: terraform apply --auto-approve
        working-directory: ./Infra
